spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://124.222.98.20:3306/gaozhiheng
    username: root
    password: Gaozhiheng@123,.
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      filters: stat,wall
      max-active: 20
      initial-size: 1
      max-wait: 6000
      min-idle: 1
      time-between-eviction-runs-millis: 6000
      min-evictable-idle-time-millis: 60000
      validation-query: select version()
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-pool-prepared-statement-per-connection-size: 20
      connection-properties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
  redis:
    database: 0
    host: 124.222.98.20
    port: 6379
    password: gaozhiheng123,.
    timeout: 1000
    jedis:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*Mapper.xml
  type-aliases-package: com.gzh.candy_bms.*.bean.model
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


xxl:
  job:
    admin:
      addresses: http://124.222.98.20:8017//xxl-job-admin
    accessToken:
    executor:
      appname: xxl-job-executor-candy
      address:
      ip:
      port: -1
      logpath: /data/applogs/xxl-job/jobhandler
      logretentiondays: 30

feishu:
  app-id: cli_a3ddeccbd639100d
  app-secret: 9POqHSAgtJuOlKNN30uA6gXOkdPAdUYc

tencent-cloud:
  video:
    secret-id: AKIDLl3325cRKD6hMYondHqBRg1fGh293lJd
    secret-key: OhoiS0MVTElhQ0PajgOuIUisqiQxSl3D
    sub-app-id: 1300565699
    storage-region: ap-shanghai